body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gradient {
  background: linear-gradient( #22c1c3 60.1%, #fdbb2d 50%);

}

@media (min-width: 480px) {
  .gradient {
    background: linear-gradient(to right, #22c1c3 50.1%, #fdbb2d 50%);
  }
}
