.button-rectangle{
  border-color: transparent!important;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: rgba(0,0,0,0.1);
  border-radius: .5em;
}
.button-rectangle:active {
  transform: translateY(4px);
}
.button-rectangle:hover {
  background-color: rgba(0,0,0,0.5) !important;
}